rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isInventoryOwner() {
      return request.auth != null
        && request.auth.token.email == '72485@myinventory.local';
    }

    match /{document=**} {
      allow read, write: if isInventoryOwner();
    }
  }
}
